<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header :: header('minerReport')}" th:with="pageTitle='Reporte de Ganancias'"></th:block>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ganancias por Minero</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Minero</th><th>DNI</th><th>Bloques Minados</th><th>Ganancia Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r : ${reportes}">
                    <td th:text="${r.nombre}"></td>
                    <td th:text="${r.dni}"></td>
                    <td th:text="${r.bloques}"></td>
                    <td th:text="${#numbers.formatDecimal(r.ganancia,1,2)}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
