<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header :: header('transfer')}" th:with="pageTitle='Transferir Dinero'"></th:block>
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-3">Realizar Transferencia</h2>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <form th:action="@{/transfer}" th:object="${txForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="mb-3">
                <label for="receptorId" class="form-label">Receptor:</label>
                <select id="receptorId" th:field="*{receptorId}" class="form-select" required>
                    <option value="" disabled selected>Seleccione receptor</option>
                    <option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u.username} + ' - ' + ${u.nomcompleto}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad (S/.):</label>
                <input type="number" id="cantidad" th:field="*{cantidad}" class="form-control" step="0.01" min="0.01" required/>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
