<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultado Transferencia</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h2>Resultado de la Transferencia</h2>
    <div th:if="${mensaje}">
        <p style="color:green;" th:text="${mensaje}"></p>
    </div>
    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p>
    </div>
    <a th:href="@{/transfer}">Realizar otra transferencia</a>
</div>
</body>
</html>